.button {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;

    padding: 12px 41px;
    background: #0AC883;
    box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}