.header {
    position: relative;
    height: 800px;
    background-color: #265847;
    background-image: url("./../img/header/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    color: #FFFFFF;
}

.header-inner {
    height: 100px;
    background-color: #265847;
    background-image: url(./../img/header/header-small-bg.jpg);
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.header-top {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    font-size: 22px;
}

.header-nav-button {
    display: none;
}

.header-nav-list {
    display: flex;
}

.header-nav-item {
    margin-right: 50px;
}

.header-nav-item:last-child {
    margin-right: 0;
}

.header-nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.header-content {
    position: absolute;
    width: 1170px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-title {
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 60px;
    line-height: 1;
}

.header-content p {
    font-size: 24px;
}

.header-scroll {
    position: absolute;
    display: inline-block;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 34px;

    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.header-scroll::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 24px;
    background-image: url(./../img/header/arrow-down.svg);
}