@media (max-width: 899px) {
    .container {
        width: 600px;
    }

    .header-content {
        width: 100%;
    }

    .header-title {
        font-size: 42px;
    }

    .header-content p {
        font-size: 20px;
    }

    .main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .main .container {
        width: 100%;
    }

    .main-header {
        font-size: 42px;
    }

    .main-content-text {
        font-size: 16px;
    }

    .button {
        font-size: 18px;
        height: 46px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .main-content {
        width: auto;
    }

    .main-img {
        width: 170px;
        flex-shrink: 0;
        margin-right: 30px;
    }

    .main-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .main-row {
        flex-direction: row-reverse;
        margin-bottom: 60px;
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer .container {
        width: 100%;
    }

    .footer-widgets-wrapper {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 50px;
        padding-top: 0;
    }

    .footer-copyright {
        width: 100%;
    }

    .footer-widget+.footer-widget {
        margin-left: 0px;
    }
}